.outlined-fieldset {
	padding: 15px;
	margin-bottom: 10px;
	border-radius: 4px;

	legend {
		width: auto;
		padding: 0 5px;
		border: 0;
		margin-bottom: 0;
	}
}

.required-indicator{
	color: red;
}

.form-instructions{
	font-size: '80%'
}
